<% include ../include/header %>

<!-- Begin page content -->
<div class="container">
    <div class="page-header">
        <h1>
            <a href="/database/show_databases">Databases</a>
            /
            <a href="/database/show_tables?database=<%= req.query.database %>"><%= req.query.database %></a>
            /
            <a href="/database/desc_table?database=<%= req.query.database %>&amp;table=<%= req.query.table %>"><%= req.query.table %></a>
        </h1>
    </div>

    <p>
        <a href="/database/select_limit?database=<%= req.query.database %>&amp;table=<%= req.query.table %>&amp;offset=0&amp;row_count=10">SELECT LIMIT</a>
    </p>

    <div class="table-responsive">
        <table class="table table-bordered">
            <% for (var i = 0; i < columns.length; ++i) { %>
          <tr>
              <th class="col-sm-2"><%= columns[i] %></th>
              <td><% if (rows.length > 0) { %>
                    <%= rows[0][columns[i]] %>
                  <% } %>
              </td>
          </tr>
            <% } %>
        </table>
    </div>

</div>

<% include ../include/footer %>
