<% include ../include/header %>

<!-- Begin page content -->
<div class="container">
    <div class="page-header">
        <h1>
            <a href="/mysql/show_databases">Databases</a>
            /
            <a href="/mysql/show_tables?database=<%= req.query.database %>"><%= req.query.database %></a>
            /
            <a href="/mysql/desc_table?database=<%= req.query.database %>&table=<%= req.query.table %>"><%= req.query.table %></a>
        </h1>
    </div>

    <p>
        <a href="/mysql/select_limit?database=<%= req.query.database %>&table=<%= req.query.table %>&offset=0&row_count=10">SELECT LIMIT</a>
    </p>

    <div class="table-responsive">
        <table class="table table-bordered">
            <% for (let i = 0; i < columns.length; ++i) { %>
          <tr>
              <th class="col-sm-2"><%= columns[i].Field %></th>
              <td><% if (rows.length > 0) { %>
                    <%= rows[0][columns[i].Field] %>
                  <% } %>
              </td>
          </tr>
            <% } %>
        </table>
    </div>

</div>

<% include ../include/footer %>
