<% include ../include/header %>

<!-- Begin page content -->
<div class="container">
    <div class="page-header">
        <h1>
            <a href="/mysql/show_databases">Databases</a>
            /
            <a href="/mysql/show_tables?database=<%= req.query.database %>"><%= req.query.database %></a>
            /
            <a href="/mysql/desc_table?database=<%= req.query.database %>&amp;table=<%= req.query.table %>"><%= req.query.table %></a>
        </h1>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered">
            <tr>
                <% for (var i = 0; i < columns.length; ++i) { %>
                <th><%= columns[i] %></th>
                <% } %>
            </tr>
            <% for (var i = 0; i < rows.length; ++i) { %>
          <tr>
              <% for (var j = 0; j < columns.length; ++j) { %>
                <td><% if (keys.indexOf(columns[j]) > -1 ) { %>
                        <a href="/mysql/select_where?database=<%= req.query.database %>&amp;table=<%= req.query.table %>&amp;key=<%= columns[j] %>&amp;value=<%= rows[i][columns[j]] %>"><%= rows[i][columns[j]] %></a>
                    <% } else { %>
                        <%= rows[i][columns[j]] %>
                    <% } %>

                </td>
              <% } %>
          </tr>
            <% } %>
        </table>
    </div>

</div>

<% include ../include/footer %>
